@font-face {
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Sorts Mill Goudy Regular'), local('SortsMillGoudy-Regular'),
					url('../assets/fonts/sorts_mill_goudy/SortsMillGoudy-Regular.woff2') format('woff2'),
					url('../assets/fonts/sorts_mill_goudy/SortsMillGoudy-Regular.woff') format('woff');
    text-rendering: optimizeSpeed;
    unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Sarala';
	font-style: normal;
	font-weight: normal;
	font-display: swap;
  src: local('Sarala'), local('Sarala-Regular'),
        url('../assets/fonts/sarala/Sarala-Regular.woff2') format('woff2'),
        url('../assets/fonts/sarala/Sarala-Regular.woff') format('woff');
  text-rendering: optimizeSpeed;
  unicode-range: U+000-5FF;
}

@font-face {
	font-family: 'Sarala';
	font-style: normal;
	font-weight: bold;
	font-display: swap;
  src: local('Sarala Bold'), local('Sarala-Bold'),
        url('../assets/fonts/sarala/Sarala-Bold.woff2') format('woff2'),
        url('../assets/fonts/sarala/Sarala-Bold.woff') format('woff');
  text-rendering: optimizeSpeed;
  unicode-range: U+000-5FF;
}
