.l-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1240px;
	padding: 0 16px;
	position: relative;
	@media screen and (max-width: 1280px) {
		max-width: 1024px;
	}
	&--fluid {
		margin-left: 3rem;
		margin-right: 3rem;
		width: calc(100% - 6rem);
		max-width: none;
		@include screen (small) {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}
	@include screen(med) {
		padding: 0 16px;
		&--xl {
			padding: 0;
		}
	}
}

.l-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&__item {
		max-width: calc(33.33% - 2rem);
		margin-bottom: 4rem;
		display: flex;
		&:nth-last-child(-n+3) {
			margin-bottom: 0;
		}
	}
	@include screen (small) {
		display: block;
	}
	@supports (display: grid) {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 4rem;
		@include screen(med-small) {
			grid-gap: 2rem;
		}
		&__item {
			margin-bottom: unset;
			max-width: unset;
		}
		@include screen(small) {
			grid-template-columns: 1fr;
		}
	}
}
