button,
.c-button {
	border: none;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border-radius: $border-radius-default;
	height: $button-height;
	line-height: $button-height;
	padding: 0 #{$padding-sm + $padding-xs};
	background: $color-deep-red;
	position: relative;
	font-weight: $font-weight-regular;
	font-size: $button-font-size;
	text-decoration: none;
	color: white;
	text-align: center;
	display: inline-block;
	&--outline {
		border: 1px solid $color-deep-red;
		position: relative;
		background: transparent;
		color: $color-deep-red;
		&:hover {
			text-decoration: none;
		}
	}
	&--sm {
		height: $button-height-sm;
		line-height: $button-height-sm;
		padding: 0 $padding-sm;
	}
	&__icon {
		display: inline-flex;
		vertical-align: middle;
		padding-right: 8px;
	}
}

