.c-card {
	padding: $padding-md $padding-sm;
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: $color-yellow;
	border: 1px solid $border-color-default;
	border-radius: $border-radius-default;
	transition: border 0.15s;
	width: 100%;
	overflow: hidden;
	&:hover {
		border-color: $color-deep-red;
		border-style: dashed;
	}
	> * + * {
		margin-top: $padding-sm;
	}


	&__header {
		max-width: 60%;
		max-height: 130px;
		margin: 0 auto;
		display: inline-flex;
		align-items: flex-end;
		.c-card--x-lg & {
			height: 140px;
			margin-top: $padding-sm;
		}
	}
	&__footer {
		.c-services & button {
			width: 100%;
		}
	}
	&--x-lg {
		> * + * {
			margin-top: 45px;
		}
	}
	&--left {
		text-align: left;
		> * {
			margin-left: 0;
		}
	}
	.u-list {
		color: $color-deep-red;
		li + li {
			margin-top: 6px;
		}
	}
}
