footer {
	display: flex;
	padding: $padding-sm 0;
	hr {
		border: none;
		border-top: 1px solid $border-color-default;
	}
	.c-footnote {
		display: flex;
		justify-content: space-between;
		margin-top: 22px;
		@include screen(small) {
			flex-direction: column;
			* {
				margin-top: 10px;
			}
		}
	}
}
