.c-slider {
	position: relative;
	&__carousel {
		height: 0;
		padding-bottom: 56.25%;
		overflow: hidden;
		position: relative;
		&::before {
			content: "";
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: rgba($text-color-default, 0.2);
			z-index: 1;
			position: absolute;
			pointer-events: none;
		}
		> * {
			display: flex;
			img {
				width: 100%;
				object-fit: fill;
			}
		}
	}
	&__controls {
		position: absolute;
		padding: 0 $padding-sm;
		display: flex;
		justify-content: space-between;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
		top: calc(50% - 20px);
		@include screen(small) {
			padding: 0 $padding-xs;
		}
		> * {
			position: relative;
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background-color: rgba(#191919, 0.4);
			cursor: pointer;
			padding: 0 2px;
			&.disabled {
				opacity: 0.5;
				cursor: not-allowed;
			}
			svg {
				width: 20px;
				height: 100%;
				* {
					stroke-width: 3;
				}
			}
			&.c-slider__control--prev svg {
				margin-left: -2px;
			}
			&.c-slider__control--next svg {
				margin-right: -2px;
			}
		}
	}
	&__indicator {
		position: absolute;
    width: 100%;
    bottom: $padding-xs;
	}
}

.glider-contain {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.glider-track {
  transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
}
.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}
.glider.drag {
  cursor: grabbing;
}
.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.glider-slide img {
	height: auto;
	width: 100%;
	object-fit: contain;
}
.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}
.glider-prev,.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #666;
  opacity: 1;
	line-height: 1;
  transition: opacity .5s cubic-bezier(.17,.67,.83,.67),
							color .5s cubic-bezier(.17,.67,.83,.67);
	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}
}
.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
}
.glider-next {
  right: -23px;
  left: auto;
}
.glider-next.disabled,
.glider-prev.disabled {
  opacity: .05;
  color: #666;
  cursor: default;
}
.glider-slide {
  min-width: 150px;
}
.glider-hide {
  opacity: 0;
}
.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.glider-dot {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: rgba($color-yellow, 0.75);
  border-radius: 999px;
  background: rgba($color-yellow, 0.75);
  width: 10px;
	height: 10px;
	margin: 6px;
	transition: background .5s cubic-bezier(.17,.67,.83,.67);
}
.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #fff;
}
@media(max-width: 36em){
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(255,255,255,.25);
  }
}
